body {
    color: silver;
    background-image: url("../images/hiphop.jpg");
    background-position: center;
}

.top {
    margin-bottom: 10px;
}

.center-panel {
    border: 2px dashed silver;
}

#hold {
    display: inline-block;
    padding: 10px;
    font-size: 1.5em;
}